{% extends "base.html" %}

{% block content %}
{% if post.orig_post == 0 %}
                    <div class="post border rounded p-3 mb-3">
                        <div class="media">
                            <img src="{{post.avatar}}" class="mr-3" alt="Аватар" style="width:64px;height:64px;border-radius:50%;">
                            <div class="media-body">
                                <h5 class="mt-0"><a href=/users/{{post.username}}>{{post.author}}</a></h5>
                                <hr>
                                <p id="content">{{post.text}}</p>
                                {% if post.file_path %}
                                {% if post.file_type == "img" %}
                                    <img src="/{{post.file_path}}" style="width: 550px; height: auto;">
                                {% elif post.file_type == "video" %}
                                    <video controls width="550">
                                      <source src=/{{post.file_path}} />
                                    </video>
                                {% else %}
                                    <p><a href=/{{post.file_path}}>Скачать файл</a></p>
                                {% endif %}
                            {% endif %}
                                <p class="post-date" style="color: grey; font-size: smaller;">{{post.time}}</p>
                            </div>
                        </div>

                    </div>

                    <br>
                {% else %}
                    <div class="post border rounded p-3 mb-3">
                        <div class="media">
                            <img src="{{post.avatar}}" class="mr-3" alt="Аватар" style="width:64px;height:64px;border-radius:50%;">
                            <div class="media-body">
                                <h5 class="mt-0"><a href=/users/{{post.username}}>{{post.author}}</a></h5>
                                <hr>
                                <div class="post border rounded p-3 mb-3">
                                <div class="media">
                            <img src="{{posts_all[post.orig_post].avatar}}" class="mr-3" alt="Аватар" style="width:64px;height:64px;border-radius:50%;">
                            <div class="media-body">
                                <h5 class="mt-0"><a href=/users/{{posts_all[post.orig_post].username}}>{{posts_all[post.orig_post].author}}</a></h5>
                                <hr>
                                <p id="content">{{posts_all[post.orig_post].text}}</p>
                                {% if posts_all[post.orig_post].file_path %}
                                    {% if [post.orig_post].file_type == "img" %}
                                        <img src="/{{posts_all[post.orig_post].file_path}}" style="width: 550px; height: auto;">
                                    {% elif posts_all[post.orig_post].file_type == "video" %}
                                        <video controls width="550">
                                          <source src=/{{posts_all[post.orig_post].file_path}} />
                                        </video>
                                    {% else %}
                                        <p><a href=/{{posts_all[post.orig_post].file_path}}>Скачать файл</a></p>
                                    {% endif %}
                                {% endif %}
                                <p class="post-date" style="color: grey; font-size: smaller;">{{posts_all[post.orig_post].time}}</p>
                            </div>
                        </div>
                                </div>
                                <p id="content">{{post.text}}</p>

                                <p class="post-date" style="color: grey; font-size: smaller;">{{post.time}}</p>
                            </div>
                        </div>
                    </div>

                    <br>
{% endif %}
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control", type="text") }}<br>
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
<h3 style="text-align: center; margin-bottom: 40px">Комментарии</h3>
{% for comment in comments %}
    <div class="post border rounded p-3 mb-3">
        <div class="media">
            <div class="media-body">
                <h5 class="mt-0"><a href=/users/{{comment.username}}>{{get_name_by_user_id(comment.author)}}</a></h5>
                                <hr>
                                <p id="content">{{comment.text}}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}