{% extends "base.html" %}

{% block content %}
<h1>Лента</h1>
{% if current_user.is_authenticated %}
    {% if 'pos' in were %}
        <a href="/all_newpost" class="btn btn-secondary">Квакнуть</a>
    {% endif %}
    {% if 'ind' in were %}
        <a href="/ne_newpost" class="btn btn-secondary">Квакнуть</a>
    {% endif %}
{% endif %}
<br><br><br>
{% for item in posts%}
<div class="col-md6 border rounded" style="background-color:#83FE6D">
  <thead>
    <tr>
      <th scope="col"><a href="/users/@{{item.authorname}}">@{{item.authorname}}</a></th>
      <th>{{item.time}}</th>
    </tr>
  </thead>
</div>
<div class="col-md6 border rounded" style="background-color:#25E302">
  <table class="table">
  <tbody>
    <tr>
      <td>{{item.text}}</td>
    </tr>

  </tbody>
</table>
</div>
<br><br>
{% endfor %}
{% endblock %}