{% extends "base.html" %}

{% block content %}
<style>
    .rounded-image {
        max-width: 300px; /* Максимальная ширина изображения */
        height: 300px; /* Автоматический расчет высоты для поддержки пропорций */
        border-radius: 50%; /* Создание круглого изображения */
    }
</style>
<h1 style="margin: 40px">Профиль</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="../{{avatar}}" alt="фото профиля" class="rounded-image">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="h5 pb-2 mb-4 text-info border-bottom border-info">
                        <p><strong>Подписчики: {{folowers}}</strong></p>
                    </div>
                </div>
                <div class="col">
                    <div class="h5 pb-2 mb-4 text-info border-bottom border-info">
                        <p><strong>Подписки: {{folow}}</strong></p>
                    </div>
                </div>
            </div>

            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <h3>@{{name}}</h3>
                <br>
                <p>{{bio}}</p>
            </div>
        </div>
    </div>
</div>
{% if current_user.id == accid %}
    <a class="btn btn-success" href="/edit_profile" style="width: 27%; margin: 20px">Редактировать</a>
{% else %}
    <a class="btn btn-success" href="/follow/{{username}}/{{accid}}" style="width: 27%; margin: 20px">Подписаться</a>
{% endif %}
{% endblock %}