{% extends "base.html" %}

{% block content %}
<br><br>
    <ul>
        {% for post in posts %}
            <div class="post border rounded p-3 mb-3 position-relative">
                <div class="media">
                    <img src={{post.avatar}} class="mr-3" alt="Аватар" style="width:64px;height:64px;border-radius:50%;">
                    <div class="media-body">
                        <h5 class="mt-0"><a href=/users/{{post.username}}>{{post.author}}</a></h5>
                        <hr>
                        <p>{{post.text}}</p>
                        {% if post.file_path %}
                            {% if post.file_type == "img" %}
                                <img src="/{{post.file_path}}" style="width: 550px; height: auto;">
                            {% elif post.file_type == "video" %}
                                <video controls width="550">
                                  <source src=/{{post.file_path}} />
                                </video>
                            {% else %}
                                <p><a href=/{{post.file_path}}>Скачать файл</a></p>
                            {% endif %}
                        {% endif %}
                        <p class="post-date" style="color: grey; font-size: smaller;">{{post.time}}</p>
                    </div>
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButtonPost{{post.id}}" data-bs-toggle="dropdown" aria-expanded="false">
                      ...
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonPost{{post.id}}">
                        {% if current_user.id == post.author.id %}
                        <li><a href="/editpost/index/{{post.id}}" class="dropdown-item" type="button">Редактировать</a></li>
                        <li><a href="/delpost/index/{{post.id}}" class="dropdown-item" type="button">Удалить</a></li>
                        {% endif %}
                      <li><button class="dropdown-item" type="button" onclick="copyText('https://zhabki.ru/post/{{post.id}}')">Поделиться</button></li>
                      <li><button class="dropdown-item" type="button" onclick="makeRequestNoUpdate('https://zhabki.ru/report/{{post.id}}')">Пожаловаться</button></li>
                    </ul>
                </div>
            </div>
            <br>
        {% endfor %}
    </ul>
{% endblock %}