h1 {
    margin-top: 30px;
    margin-bottom: 40px
}
::-webkit-scrollbar {
    display: none;
}
.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.page-switcher {
    display: flex;
}

.page-switcher a {
    padding: 4px;
    text-decoration: none;
    color: #000;
    border-radius: 5px 5px 5px 5px;
}

.page-switcher a.active {
    background-color: #007bff;
    color: #fff;
}

h1.no-margin {
    margin-bottom: 0;
}

.post-actions {
    position: absolute;
    bottom: 5px;
    right: 25px;
}
.dropdown-menu {
    right: 0;
    left: auto;
}
.popup {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
}

.popup::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.badge-container {
  position: relative;
  display: inline-block;
}

.badge-container:hover .popup {
  visibility: visible;
}
.notification {
    display: none;
    position: fixed;
    z-index: 999;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #79b253;
    border-radius: 5px;
}

.notification p {
    margin: 0;
}

.notification .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000;
    cursor: pointer;
}
